<!DOCTYPE HTML>
<html ng-app="sms">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Roboto+Slab:400,100,300,700|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
    <title>Admin</title>
</head>
<body>
    <div class="wrapper" ng-controller="MainController">
        <div style="position: fixed; border: none; text-align: right; width: 800px;">
            <span> (( message )) </span>
            <span style="background-color: #ccc;">
                <a href="#users">Users</a>
                <a href="#sms-api">SMS API</a>
                <a href="#sms">SMS</a>
            </span>
        </div>
        <h1 id="users">Users</h1>
        <div class="span3">
            <ul>
                <li ng-repeat="user in users"
                    ng-click="edit(user)"
                    ng-class="{active: user.id == edit_user.id}">
                    (( user.id )). (( user.name ))
                </li>
                <li><input type="button" value="New" ng-click="reset_form()"/></li>
            </ul>
        </div>
        <div class="span7">
            <label>ID: (( edit_user.id ))</label>
            <label>Name: <input type="text" ng-model="edit_user.name"/></label>
            <label>API Key: <input type="text" ng-model="edit_user.token"/></label>
            <label>Roles:
                <select ng-model="edit_user.roles" multiple="multiple">
                    <option value="ROLE_ADMIN">admin</option>
                    <option value="ROLE_API">app</option>
                    <option value="ROLE_SYSTEM">system</option>
                </select>
            </label>
            <label>Change Password: <input type="text" ng-model="edit_user.password"/></label>
            <label>Phone: <input type="text" ng-model="edit_user.phone"/></label>
            <label>Created: (( edit_user.created_at ))</label>
            <input type="button" value="Save" ng-click="save(edit_user)"/>
            <input type="button" ng-if="edit_user.id" value="Delete" ng-click="remove(edit_user)"/>
        </div>

        <h1 id="sms-api">SMS API</h1>
        Here is how you send, receive sms via api interface.
        <table>
        <tr>
            <td><code>/send/</code></td>
            <td>
                Sends new sms to the given number. Requires following arguments as json:
                <ul>
                    <li> <b>body</b>: Message body, up to 250 chars </li>
                    <li> <b>phone</b>: Phone number, 8 chars </li>
                </ul>
            </td>
            <td>app</td>
            <td><input type="button" value="Test" ng-click="test_api('/send/')"/></td>
        </tr>
        <tr>
            <td><code>/list_received/</code></td>
            <td>
                Lists received sms according to following querystring params:
                <ul>
                    <li><b>date_from</b>: Date from in YYYY-MM-DD HH:MM:SS format.  </li>
                    <li><b>date_to</b>: Date to in YYYY-MM-DD HH:MM:SS format.  </li>
                </ul>
            </td>
            <td>app</td>
            <td><input type="button" value="Test" ng-click="test_api('/list_received/')"/></td>
        </tr>
        <tr>
            <td><code>/pending/</code></td>
            <td>
                Get next sms to send sending following parameter as querystring:
                <ul>
                    <li><b>last_id</b>: Last sms id, so that it knows the next sms </li>
                </ul>
            </td>
            <td>system</td>
            <td><input type="button" value="Test" ng-click="test_api('/pending/')"/></td>
        </tr>
        <tr>
            <td><code>/sent/</code></td>
            <td>
                Notify that sms has been sent. Requires following as json:
                <ul>
                    <li><b>id</b>: SMS id that has been sent.</li>
                </ul>
            </td>
            <td>system</td>
            <td><input type="button" value="Test" ng-click="test_api('/sent/')"/></td>
        </tr>
        <tr>
            <td><code>/sms_received/</code></td>
            <td>
                Notify about received sms. Required following json params:
                <ul>
                    <li><b>body</b>: Message body.</li>
                    <li><b>phone</b>: Phone number.</li>
                </ul>
            </td>
            <td>system</td>
            <td><input type="button" value="Test" ng-click="test_api('/sms_received/')"/></td>
        </tr>
        </table>

        <div ng-if="demo_values.url">
            <div class="span3">
                <label>URL: <input type="text" ng-model="demo_values.url"/> </label>
                <label>API Key: <input type="text" ng-model="demo_values.api_key"/> </label>
                <label ng-if="demo_values.url == '/pending/'">
                    Last SMS ID: <input type="text" ng-model="demo_values.last_id"/>
                </label>
                <label ng-if="demo_values.url == '/sent/'">
                    SMS ID: <input type="text" ng-model="demo_values.id"/>
                </label>
                <label ng-if="demo_values.url == '/list_received/'">
                    Date From: <input type="text" ng-model="demo_values.date_from"/>
                </label>
                <label ng-if="demo_values.url == '/list_received/'">
                    Date To: <input type="text" ng-model="demo_values.date_to"/>
                </label>
                <label ng-if="demo_values.url == '/send/' || demo_values.url == '/sms_received/'">
                    Body: <textarea type="text" ng-model="demo_values.body"></textarea>
                </label>
                <label ng-if="demo_values.url == '/send/' || demo_values.url == '/sms_received/'">
                    Phone: <input type="text" ng-model="demo_values.phone"/>
                </label>
                <input type="button" value="Test this request" ng-click="test_request()"/>
            </div>
            <div class="span7">
                Output:
                <pre style="word-wrap: break-word;">(( demo_output ))</pre>
            </div>
        </div>

        <h1 id="sms">SMS</h1>
        <table>
        <tr>
            <th>ID</th>
            <th>Phone</th>
            <th>Body</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="sms in sms_list">
            <td>(( sms.id ))</td>
            <td>(( sms.phone ))</td>
            <td>(( sms.body ))</td>
            <td>(( sms.status ))</td>
            <td>(( sms.created_at ))</td>
        </tr>
        </table>

        <div style="background-color: #333; text-align: center; color: #ccc; ">
            Developed by Ariunbayar, United Web LLC
        </div>
    </div>
    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-resource.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
{# vim: set tw=120 #}
